@model Tuple<Compras, DetalleCompra>
@using System.Globalization
<div class="container">
    <form asp-action="SetEncabezado" asp-controller="Compras" method="post" id="SetEncabezado">
        <div class="row">
            <input type= "hidden" asp-for="Item1.IdCompra">
            <div class="form-group col-md-4">
                <label># Factura</label>
                <input type="text" class="form-control" asp-for="Item1.NumeroFactura">
                <span asp-validation-for="Item1.NumeroFactura"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Proveedor</label>
                <select class="form-control" asp-for="Item1.IdProveedor" asp-items='@(new SelectList(ViewBag.Proveedores, "IdProveedor", "Nombre"))'>
                    <option value="">Seleccione</option>
                </select>
                <span asp-validation-for="Item1.IdProveedor"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Fecha</label>
                <input type="text" class="form-control" asp-for="Item1.Fecha" readonly value='@DateTime.Now.ToString("dd/MM/yyyy")'>
                <span asp-validation-for="Item1.Fecha"></span>
            </div>
        </div>
    </form>

    <hr>
    <form asp-action="SetDetalle" asp-controller="Compras" method="post" id="SetDetalle">
        <div class="row">
            <div class="form-group col-md-4">
                <input type= "hidden" asp-for="Item2.IdCompra">
                <label>Producto</label>
                <select asp-for="Item2.IdProducto" class="form-control" asp-items='@(new SelectList(ViewBag.Productos, "IdProducto", "NombreProducto"))'>
                    <option value="">Seleccione</option>
                </select>
                <span asp-validation-for="Item2.IdProducto"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Cantidad</label>
                <input type="text" class="form-control" asp-for="Item2.Cantidad">
                <span asp-validation-for="Item2.Cantidad"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Precio</label>
                <input type="text" class="form-control" asp-for="Item2.Precio">
                <span asp-validation-for="Item2.Precio"></span>
            </div>
        </div>
        <div class="row py-2">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
        </div>
    </form>
    <div class="row ty-2">
        <form action="https://prod-22.brazilsouth.logic.azure.com:443/workflows/786cbfa170464f0894ad71f42d1666c7/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=UIfwAcz48ENQHZDHu0Ws3O2wnU4VU9EnnIP0LBG9ClM"  method="post" id="Power">
        <input type= "hidden" asp-for="Item1.IdCompra">
            <table class="table table-condensed table-bordeared" id="tbl-detalle-compra">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Iva</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                    @foreach(DetalleCompra detalle in ViewBag.DetalleCompra)
                    {
                                
                        <tr>
                            <td><input type="text" class="form-control" value="@detalle.Producto.Marca - @detalle.Producto.Modelo" name="Producto" id="Producto"  readonly="readonly"></td>
                            <td><input type="text" class="form-control" value="@detalle.Producto.Descripcion" name="Descripcion" id="Despcricion" readonly="readonly"></td>
                            <td><input type="text" class="form-control" value="@detalle.Cantidad" name="Cantidad" id="Cantidad" readonly="readonly"></td>
                            <td><input type="text" class="form-control" value="@detalle.Precio" name="Precio" id="Precio" readonly="readonly"></td>
                            <td><input type="text" class="form-control" value=@detalle.Iva name="Iva" id="Iva" readonly="readonly"></td>
                            <td><input type="text" class="form-control" value=@Convert.ToDouble(detalle.Total) name="Total" id="Total" readonly="readonly"></td>  
                        </tr>
                    }
                      
                        
                </tbody>  
            </table>
            <div class="row py-2">
                <button type="submit" class="btn btn-primary">Recibir Factura</button>
            </div>
        </form>
    </div>
</div>
