    <div class="col-md-12">
                <div class="card-body bg-dark">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center text-light">Productos</h1>
                        </div>
                        
                             @foreach (Productos Producto in ViewBag.Productos)
                            {
                                <div class="col-md-4  py-2" key={i}>
                                    <div class="card h-100">
                                        <div class="overflow">
                                            <img src="https://www.bttbike.com/foto/o/15/90/1590766687_whatsapp-image-2020-05-29-at-11-23-05-1-.jpg" alt="" class="card-img-top"/>
                                        </div>
                                        
                                        <div class="card-body">
                                            <h1>@Producto.Nombre</h1> 
                                            <p>@Producto.Descripcion</p>
                                            <p>@Producto.Marca</p>
                                            <p>@Producto.Precio</p>
                                            <p>@Producto.Stock</p>
                                            <a href="Compras/Nuevo" target="_blank" >Comprar</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        
                    </div>
         </div>
                            
                                